h1 {
    text-align: center;
}

main {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: beige;
}

img {
    width: 100%;
    padding: 0.4rem;
    animation: view 20s;
}
@keyframes view {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}